.header{
    top: 20px;
    text-align: center;
    /* position: sticky; */
    /* z-index: 1; */
    /* background-color: #2a2a2a; */
    padding:10px ;
    
}

.circle{
border: 2px solid rgb(10, 188, 248);
display: inline-block;
width: 50vw;
border-radius: 25px;

}

.circle ul{
    list-style: none;
}
.circle ul li {
    display: inline; 
    padding: 15px;
}

.circle ul li a{
    color: white;
   
   
}
.active{
    padding-bottom: 3px;
    border-bottom: 2px solid rgb(10, 188, 248);
   
}
.socialIcons{
   float: left;
    margin: 10px 0px 0 20px;

}
